// Normalize Styles
@import 'node_modules/normalize.css/normalize';
// @import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/font-awesome/scss/font-awesome.scss';


// Import Modules
@import 'index';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

.btn {
  transition: all 0.3s ease-in-out;
}

@media(max-width:768px){
  #header {
    text-align:center;
  }
  #header img {
    margin: 0 auto;
  }
}

.navbar{
  background-color: rgba(21,31,33,0.5);
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;
}
.navbar,
.nav,
.nav-item,
.nav-link{
  color: #d1d1d1;
}
.navbar,
.nav,
.nav-item,
.nav-link:hover{
  color: #fff;
}
.navbar-toggler{
  color: white;
}
// header

#header{
  background: url('../images/img/stars-bg.jpg') center center no-repeat;
  background-size:cover;
  height:100%;
  color: white;
  display:flex;
  align-items:center; 
}

#header img {
  padding: 0 0 20;
  width: 80%;
}

#header .header-right {
  background-color: rgba(0,0,0,0.5);
  padding:30px;
  border-radius: 10px;
}

#header,
.fa {
  margin: 5% 0;
}

#headre,
a,
.fa {
  color:#fff;
}

#headre,
a,
.fa:hover {
  color:#ccc;
}











