extends _layouts/base

include _modules/link/link

block content

  nav.navbar.navbar-fixed-top

    button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#navigation")
      |&#9776;
    a.navbar-brand.float-xs-right.float-sm-left(href="#")
      img.img-fluid(src="images/img/logo-small.png")
    #navigation.collapse.navbar-toggleable-xs
      ul.nav.navbar-nav.float-sm-right
        li.nav-item
          a.nav-link(href="social") CONNECT
        li.nav-item
          a.nav-link(href="who") WHO
        li.nav-item
          a.nav-link(href="work") WORK
        li.nav-item
          a.nav-link(href="why") WHY
        li.nav-item
          a.nav-link(href= "costumers") COSTUMERS
        li.nav-item
          a.nav-link(href="pricing") PRICING
        li.nav-item
          a.nav-link(href="contact") CONTACT
  //- Header
  #header
    .container
      .row
        .col-md-6
          img.img-fluidluid(src="/images/img/logo.png")
          h2 THINGS WORK BETTER IN SPACE
          p.lead Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
          p.hidden-sm Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        .col-md-6.header-right.hidden-sm-down
          p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
          form
            fieldset.form-group
              label.sr-only Name
              input.form-control(type="text" placeholder="Your name...")
            fieldset.form-group
              label.sr-only Email
              input.form-control(type="text" placeholder="Your email...")
            button.btn.btn-outline-info.btn-block(type="submit") sign up
        .row
          .col-md-12.text-xs-center
            a(href="social")
              i.fa.fa-chevron-down.fa-3x(aria-hidden='true')
            

  //- END HEADER
  //- SOCIAL
  section#social
    .container
      .row

        .col-md-6
          h2 Connesct with us:
          hr(align="left" width="50%")
          p ipsum

        .col-md-6
          ul.list-inline
            li.list-inline-item
              a(href="#")
                i.fa.fa-facebook
            li.list-inline-item
              a(href="#")
                i.fa.fa-twitter
            li.list-inline-item
              a(href="#")
                i.fa.fa-instagram
            li.list-inline-item
              a(href="#")
                i.fa.fa-pinterest-p
            li.list-inline-item
              a(href="#")
                i.fa.fa-google-plus
            li.list-inline-item
              a(href="#")
                i.fa.fa-rss
  //- END SOCIAL
  //- WHO
  section#who
    .container
      .row

        .col-md-6
          h2 Who we are
          hr(align="left" width="50%")
          p.lead some generic text just because
          p some more generic text just like that
          button.btn.btn-who(type="button") Find out more
        .col-md-6
          img.img-fluid(src="images/img/what-image.png")
  //- END WHO
  //- WORK

  section#work
      .container
        .row

          .col-md-12
            h2 Our Latest Work
            hr(align='left', width='30%')
            p some generic text again

        .row
          .col-md-3.col-sm-6

            .card
              .work-img
                a(href="#")
                  img.card-img-top.img-fluid(src='images/img/buildings.jpg', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card's content.

          .col-md-3.col-sm-6
            
            .card
              .work-img
                a(href="#")
                  img.card-img-top.img-fluid(src='images/img/fair.jpg', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card's content.

          .col-md-3.col-sm-6
            
            .card
              .work-img
                a(href="#")
                  img.card-img-top.img-fluid(src='images/img/city.jpg', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card's content.

          .col-md-3.col-sm-6
            
            .card
              .work-img
                a(href="#")
                  img.card-img-top.img-fluid(src='images/img/rose.jpg', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card's content.
        
        .row
          .col-md-3.col-sm-6

            .card
              .work-img
                a(href="#")
                  img.card-img-top.img-fluid(src='images/img/skate.jpg', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card's content.

          .col-md-3.col-sm-6
            
            .card
              .work-img
                a(href="#")
                  img.card-img-top.img-fluid(src='images/img/track.jpg', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card's content.

          .col-md-3.col-sm-6
            
            .card
              .work-img
                a(href="#")
                  img.card-img-top.img-fluid(src='images/img/goldengate.jpg', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card's content.

          .col-md-3.col-sm-6
            
            .card
              .work-img
                a(href="#")
                  img.card-img-top.img-fluid(src='images/img/girl-field.jpg', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card's content.

       
  //- END WORK
  //- WHY

  section#why
    .container.text-xs-center
      .row
        .col-md-12
          h2 Why you should work with us
          hr(width="30%")
          p Because we are the best at what we do

      .row
        .col-md-4
          i.fa.fa-thumbs-o-up.fa-3x(aria-hidden="true")
          h3 Costumer Satisfaction
          p Some quick example text to build on the card title and make up the bulk of the card's content.
        .col-md-4
          i.fa.fa-line-chart.fa-3x(aria-hidden="true")
          h3 Instant resoults
          p Some quick example text to build on the card title and make up the bulk of the card's content.
        .col-md-4
          i.fa.fa-trophy.fa-3x(aria-hidden="true")
          h3 Award Winning Service
          p Some quick example text to build on the card title and make up the bulk of the card's content.


  //- END WHY















